<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zucc.g4.mapper.MedicineMapper">

    <insert id="addMedicine" parameterType="cn.edu.zucc.g4.entity.Medicine" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO medicine(`name`, administration, indication, symptom, property)
         VALUES(#{name}, #{administration}, #{indication}, #{symptom}, #{property})
    </insert>
</mapper>
